.header-container {
  display: flex;
  flex-direction: row;
  padding: 15px 5px;
}

.header-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    max-width: 90%;
  }
}

.header-title {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
  }
}
