<section id='welcome'>
  <div class='section-title'>
    <h1>Welcome 👋</h1>
  </div>
  <div class='cta'>
    <ng-libs-cta (clicked)='goToPackages()'>
      <mat-icon>output</mat-icon>
      <span>View Packages</span>
    </ng-libs-cta>
    <ng-libs-cta (clicked)='goToRepository()' type='secondary'>
      <mat-icon>open_in_new</mat-icon>
      <span>Visit Repository</span>
    </ng-libs-cta>
    <ng-libs-cta (clicked)='goToDiscussions()' type='secondary'>
      <mat-icon>open_in_new</mat-icon>
      <span>Ask Us a Question</span>
    </ng-libs-cta>
  </div>
  <div class='section-body'>
    <p>
      Welcome to the Chill Viking <code>ng-libs</code> repository! Here,
      you'll find a variety of high-quality npm packages for Angular projects.
    </p>
    <p>
      Our packages are easy to use and constantly updated to ensure
      compatibility with the latest version of Angular.
    </p>
    <p>
      Explore our packages and see how they can benefit your projects. We hope
      you'll join our community and stay up-to-date on the latest
      developments.
    </p>
  </div>
</section>
