<cv-layout [data]="context">
  <ng-template cvHeader let-header>
    <ng-libs-header [context]="header" [subTitle$]="subTitle$"></ng-libs-header>
  </ng-template>
  <section id="welcome">
    <h1>Welcome to</h1>
    <img
      src="https://chillviking.com/assets/chill-viking-720-logo.png"
      alt="ChillViking Logo"
    />
    <h4>ng-libs</h4>
    <p>
      This website is a showcase and demo of the Angular packages that we
      develop in
      <a href="https://github.com/chill-viking/ng-libs" target="_blank"
        >this repository</a
      >.
    </p>
  </section>
  <section id="overview">
    <div class="section-title">
      <h1>Overview</h1>
    </div>
    <div class="introduction">
      <span class="question"
        >Are you tired of tackling common Angular development challenges on your
        own?</span
      >
      <p>
        Chill Viking, more specifically this repository, is here to help! Using
        this repository, we aim to create npm packages that solve problems and
        make your life easier.
      </p>
      <p>
        Check out our offerings and see how we can help you become an Angular
        pro.
      </p>
    </div>
    <div class="cta"></div>
  </section>
</cv-layout>
